# Boring file regexps:

# backup files
*~

# Specific to Js_of_ocaml
doc/api-html
benchmarks/build
benchmarks/results
benchmarks/config

setup.data
setup.log
setup.exe
setup-dev.exe

# OCamlbuild dir
_build
